@media only screen and (min-width: 200px) and (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
  }
  .logo {
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  .header-address {
    padding: 10px;
  }
  .header-left {
    justify-content: center;
  }
  .header-address p {
    font-size: 12px;
  }
  .header-address h3 {
    font-size: 15px;
  }
  .search-box button {
    padding: 10px;
  }
  .header-btn {
    position: fixed;
    bottom: 0px;
    margin-right: 0px;
    justify-content: center;
    width: 100%;
  }
  .order-banner {
    flex-direction: column;
    padding: 10px;
  }
}
