* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(images/banner.png);
  background-size: size;
  background-position: center;

  .nav-Links {
    display: flex;
  }
  .nav-Links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
  }
  .nav-Links li a {
    text-decoration: none;
    color: #fff;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7px 0px 0px;
  }
  .logo {
    width: 100px;
    cursor: pointer;
  }
  .register-btn {
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
  }
  .container {
    padding: 0 7%;
  }
  .container h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    padding-top: 22%;
    text-align: center;
  }
  .search-bar {
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
  }
  .search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .search-bar form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
  }
  .search-bar form button {
    border-radius: 50%;
    background: #ff5361;
    width: 50px;
    height: 55px;
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .search-bar form button img {
    width: 15px;
    margin-top: 7px;
  }
  .location-input {
    flex: 1;
  }
  .search-bar form button label {
    font-weight: 600;
  }
}

/* ......exlusives */
.container {
  padding: 20px 50px;
  .sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
  }
  .exlusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
  }
  .exlusives div img {
    width: 100%;
    border-radius: 10px;
  }
   .exlusives div{
    position: relative;
   } 
   .exlusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;
   }
}
