* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #f0f0f0;
   --bg-fill-color: #ece2e2;
  /* Specing Vaiables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* border-colors  */
  --boder-primary-color: #333333;

  /* Border Redius  */
  --border-redius-xs: 4px;
  --border-redius-sm: 8px;
  --border-redius-md: 12px;
  --border-redius-lg: 16px;
  --border-redius-xl: 20px;
  --border-redius-2xl: 20px;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: rgb(55, 55, 202);
  gap: var(--space-lg);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info {
  padding: var(--space-sm);
  border: 1px solid var(--boder-primary-color);
  border-radius: var(--border-redius-sm);
}
.board {
  border: 1px solid var(--boder-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  cursor: pointer;
}

.block {
  /* width: 30px; */
  /* height: 30px; */
  border: 1px solid var(--boder-primary-color);
}
.fill{
  background-color: var(--bg-fill-color);
}